.search-bar {
  height: 10vh;
  width: 60vw;
  /* background-color: thistle; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  width: 20rem;
  height: 2.5rem;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: none;
  padding: 0;
  padding-left: 0.2rem;
  background-color: rgba(202, 202, 202, 0.486);
}
.search-bar input:focus-visible,
.search-bar input:active {
  border: none;
}

.search-bar button {
  width: 5rem;
  height: 2.5rem;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.2s;
  background-color: rgba(202, 202, 202, 0.486);
}
.search-bar button:hover {
  background-color: rgba(165, 165, 165, 0.705);
}
